{% extends 'base.html.twig' %}


{% block body %}
    <h1>Create news</h1>

    {{ include('article/_form.html.twig', {
        form: form,
        button_label: 'Create',
    }, with_context = false) }}


{% endblock %}