{% extends 'base.html.twig' %}


{% block body %}
    <h1>Edit your news</h1>

    {{ include('article/_form.html.twig', {
        form: form,
        button_label: 'Save',
    }, with_context = false) }}


{% endblock %}